  <footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
      Template built with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <script src="assets/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript">
    (function($){
      $(function(){
        $('.sidenav').sidenav();
      }); // end of document ready
    })(jQuery); // end of jQuery name space
  </script>
</body>
</html>
