---
layout: default
permalink: /program-committee
reviewers:
    - name: Raj Parihar
      affiliation: Meta
    - name: Satyam Srivastava
      affiliation: D-Matrix
    - name: Sushant Kondguli
      affiliation: Meta
    - name: Ananya Pareek
      affiliation: Google
    - name: Eric Qin
      affiliation: Meta
    - name: Gaurav Jain
      affiliation: D-Matrix
    - name: Abhishek Singh
      affiliation: Google

---

<div class="section-block fade-in">
    <h3 class="header section-heading">Organizing Committee</h3>
    <div class="committee-cards">
    {% for o in site.organizers %}
        <div class="committee-card">
            <a href="{{ o.profile_url }}" target="_blank">
                <img src="assets/images/organizers/{{ o.avatar }}" alt="{{ o.name }}" class="committee-card-avatar z-depth-1" />
            </a>
            <div class="committee-card-body">
                <h4 class="committee-card-name">
                    <a href="{{ o.profile_url }}" target="_blank">{{ o.name }} <i class="material-icons">open_in_new</i></a>
                </h4>
                <div class="committee-card-affiliation">{{ o.affiliation }}</div>
                <div class="committee-card-bio">{{ o.content | markdownify }}</div>
                <button class="committee-card-toggle" onclick="toggleBio(this)">Read more</button>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<div class="section-block section-alt fade-in">
    <h3 class="header section-heading">Review Committee</h3>
    <div class="reviewer-grid">
    {% for r in page.reviewers %}
        <div class="reviewer-item">
            <span class="reviewer-name">{{ r.name }}</span>
            <span class="reviewer-affiliation">{{ r.affiliation }}</span>
        </div>
    {% endfor %}
    </div>
</div>
