---
layout: default
permalink: /sponsors
show_note: False
---
{% assign accepting_editions = site.editions|where: "is_accepting_submission",true|sort:"event_date" %}
{% assign upcoming_editions = site.editions|where: "show_on_submission_page",true|sort:"event_date" %}

<!--
<h3 class="header">8th Edition EMC2 Gold Sponsor:</h3>
<table>
    <tr>
        <td><i>d-Matrix</i> is building one of the most disruptive computing platforms for AI in cloud and edge pioneering in-memory computing in the data-center</td>
        <td>
            <img src="assets/images/sponsors/dmatrix.png"
                 class="z-depth-1 valign-wrapper" />
        </td>
    </tr>
</table>

<br>
<br>
-->

<li>For sponsorship queries, please contact Raj Parihar (<i>parihar at meta dot com</i>) and/or Satyam Srivastava (<i>ssrivastava at d-matrix dot ai</i>)
{% if page.show_note %}
    {% include submission-notes.html %}
{% endif %}
</li>
