---
layout: default
permalink: /submission
show_note: True
---
{% assign accepting_editions = site.editions|where: "is_accepting_submission",true|sort:"event_date" %}
{% assign upcoming_editions = site.editions|where: "show_on_submission_page",true|sort:"event_date" %}

<h3 class="header">Submit to the Workshop</h3>

{% if page.show_note %}
    {% include submission-notes.html %}
{% endif %}

<div class="row">
    <div class="col s12">
        <h4 class="header">Important Dates</h4>
        {% if upcoming_editions.size > 0 %}
        <table>
            <thead>
                <tr>
                    <th></th>
                    {% for ed in upcoming_editions %}
                    <th>
                        <a href="{{ ed.url }}">{{ ed.colocated_short }}</a>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Paper Submission</td>
                    {% for ed in upcoming_editions %}
                    <td>
                        {% if ed.submission_deadline_extended %}
                        <strong style="color: red;">{{ ed.submission_deadline_extended|date: "%B %d, %Y" }} (23:59 PST)</strong>
                        <span style="text-decoration: line-through;">{{ ed.submission_deadline|date: "%B %d, %Y" }} (23:59 PST)</span>
                        {% else %}
                        <strong>{{ ed.submission_deadline|date: "%B %d, %Y" }} (23:59 PST)</strong>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Acceptance and Rebuttals</td>
                    {% for ed in upcoming_editions %}
                    <td>
                        {% if ed.submission_deadline_extended %}
                        <strong style="color: red;">{{ ed.submission_acceptance_extended|date: "%B %d, %Y" }} (23:59 PST)</strong>
                        <span style="text-decoration: line-through;">{{ ed.submission_acceptance|date: "%B %d, %Y" }} (23:59 PST)</span>
                        {% else %}
                        <strong>{{ ed.submission_acceptance|date: "%B %d, %Y" }} (23:59 PST)</strong>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Camera Ready</td>
                    {% for ed in upcoming_editions %}
                    <td>{{ ed.submission_camera_ready|date: "%B %d, %Y" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>EMCC Model Submission</td>
                    {% for ed in upcoming_editions %}
                        <td>
                            {% if ed.has_emcc_submission %}
                                <strong>{{ ed.emcc_submission_deadline|date: "%B %d, %Y" }}  (23:59 PST)</strong>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Workshop</td>
                    {% for ed in upcoming_editions %}
                    <td>{{ ed.event_date|date: "%B %d, %Y" }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% else %}
            <p>
                There are currently no upcoming submission deadlines posted.<br/>
            </p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h4 class="header">Submission Guidelines</h5>
        <ul class="browser-default">
                <li>Papers can describe an early-stage research project, advocate an opinion about machine learning and
                    cognitive computing, reflect on trends in the community, or present anything interesting and worth
                    exploring as a direction.</li>
                <li>Papers <em>MUST</em> be submitted in printable PDF format.</li>
                <li>Papers <em>MUST</em> use the formatting guidelines and style files from here: <a href="https://neurips.cc/Conferences/2019/PaperInformation/StyleFiles">author_response.sty</a></li>
                    <!-- ul class="browser-default">
                        <li><strong>ACM SIGPLAN</strong> <a href="http://www.sigplan.org/Resources/Author/">formatting guidelines</a></li>
                        <li><strong>IEEE</strong> conference <a href="https://www.ieee.org/conferences/publishing/templates.html">formatting guidelines</a></li>
                        <li><strong>NeurIPS</strong> conference <a href="https://nips.cc/Conferences/2019/CallForPapers">formatting guidelines</a></li>
                    </ul-->
                </li>
                <li>Papers <em>MUST NOT</em> exceed 5 pages including references.</li>
                <li>Text must be in no smaller than 10pt font size.</li>
                <li>Review is single-blind, so please include authors’ names and affiliations on the submitted PDF.</li>
                <li>All accepted papers will be posted to workshop website for download.</li>
                <li>Accepted papers will be presented in short talk sessions at the workshop.</li>
                <li>Authors are encouraged to provide artifacts to be included with their final papers.</li>
                <li>If you have any issues, please email the publication and submission chairs
                    Satyam Srivastava (<a href="mailto:satyam.srivastava@intel.com">satyam.srivastava@intel.com</a>) and
                    Tao Sheng (<a href="mailto:tsheng@amazon.com">tsheng@amazon.com</a>)</li>
            </ul>
        {% if accepting_editions.size > 0 %}
        <br /><br />
        <p><strong>​All papers will be submitted, reviewed, and notified through the EasyChair conference management
                service. Please
                visit the link below to proceed with the submission.</strong></p>
        <div class="center-align">
            {% for ed in accepting_editions %}
            <a class="waves-effect waves-light btn-large center-align"
                href="{{ ed.submission_url }}" target="_blank">
                Submit to EMC<sup>2</sup> ({{ ed.colocated_short}}) <i class="material-icons right">send</i>
            </a>

            {% if ed.has_emcc_submission %}
            <a class="waves-effect waves-light btn-large center-align"
                href="/emcc" target="_blank">
                Submit to EMC<sup>2</sup> ({{ ed.colocated_short}}) Model Compression Challenge
                <i class="material-icons right">cloud_upload</i>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
