{% assign paper_sessions = site.programs | where: "edition", page.edition | where: "type", "paper_session" | sort: "time_start" %}

<div class="row">
  <div class="col s12">
    <h3 class="header"><i class="material-icons">description</i> Accepted Papers</h3>
  </div>
</div>

{% assign ps_counter = 0 %}
{% for session in paper_sessions %}
{% assign ps_counter = ps_counter | plus: 1 %}
<div class="row">
  <div class="col s12">
    <h5 class="light-primary" style="margin-bottom: 0.5em;">Paper Session #{{ ps_counter }} ({{ session.time_start | date: "%-I:%M %p" }} &ndash; {{ session.time_end | date: "%-I:%M %p" }})</h5>
    <ul class="collection">
      {% for paper in session.papers %}
      <li class="collection-item">
        <h5 class="dark-primary" style="margin: 0.25em 0;">{{ paper.title }}</h5>
        <p class="secondary-text">{{ paper.authors }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}
