{% assign accepting_editions = site.editions|where: "is_accepting_submission",true|sort:"event_date" %}

<div class="row">
  <div class="col s12">
      <h3 class="header"><i class="material-icons">description</i> Workshop Objective</h3>
      <p>
        Artificial intelligence (AI) continues to proliferate everyday life aided by the advances in automation, algorithms, and innovative hardware and
software technologies. With the growing prominence of AI, Multimodal Large Language model (MLLM) has been rising as new foundational
model architecture that uses powerful Large Language Model (LLM) with multimodal tasks efficiency. MLLM are able to achieve surprising
capabilities based on text and images, suggesting path for Artificial General Intelligence (AGI). With the advent of new frontiers on execution
of MLLM, we are facing new challenges on the ecosystem of software/hardware co-design. There is a realization about the energy cost of
developing and deploying MLLM. Training and inferencing the most successful MLLM models has become exceedingly power-hungry often
dwarfing the energy needs of entire households for years. At the edge, applications which use these LLMs models for inference are ubiquitous
in cell phones, appliances, smart sensors, vehicles, and even wildlife monitors where efficiency is paramount for practical reasons.</p>
  </div>
</div>
<div class="row">
  {% assign _col_size="s12 m6" %}
  {% if include.hide_cfp %}
    {% assign _col_size="s12" %}
  {% else %}
  <div class="col {{ _col_size }}">
    <h3 class="header"><i class="material-icons">chat</i> Call for Papers</h3>
    <p>
    The goal of this Workshop is to provide a forum for researchers and industry experts who are exploring novel ideas, tools and techniques to
improve the energy efficiency of MLLMs as it is practised today and would evolve in the next decade. We envision that only through close
collaboration between industry and the academia we will be able to address the difficult challenges and opportunities of reducing the carbon
footprint of AI and its uses. We have tailored our program to best serve the participants in a fully digital setting. Our forum facilitates active
exchange of ideas through:
</p>

    <ul class="browser-default list">

	    <li>Keynotes, invited talks and discussion panels by leading researchers from industry and academia</li>
	    <li>Peer-reviewed papers on latest solutions including works-in-progress to seek directed feedback from experts</li>
	    <li>Independent publication of proceedings through IEEE CPS</li>

    </ul>
    <p>
    We invite full-length papers describing original, cutting-edge, and even work-in-progress research projects about efficient machine learning. Suggested topics for papers include, but are not limited to the ones listed on this page. The proceedings from previous instances have been published through the prestigious IEEE Conference Publishing Services (CPS) and are available to the community via IEEE Xplore. In each instance, IEEE conducted independent assessment of the papers for quality.
    </p>

  </div>
  {% endif %}
  <div class="col {{ _col_size }}">
    <h3 class="header"><i class="material-icons">format_list_bulleted</i> Topics for the Workshop</h3>
    <ul class="browser-default list">
	    <li>Neural network architectures for resource constrained applications</li>
	    <li>Efficient hardware designs to implement neural networks including sparsity, locality, and systolic designs</li>
	    <li>Power and performance efficient memory architectures suited for neural networks</li>
	    <li>Network reduction techniques – approximation, quantization, reduced precision, pruning, distillation, and reconfiguration</li>
	    <li>Exploring interplay of precision, performance, power, and energy through benchmarks, workloads, and characterization</li>
	    <li>Simulation and emulation techniques, frameworks, tools, and platforms for machine learning</li>
	    <li>Optimizations to improve performance of training techniques including on-device and large-scale learning</li>
	    <li>Load balancing and efficient task distribution, communication and computation overlapping for optimal performance</li>
	    <li>Verification, validation, determinism, robustness, bias, safety, and privacy challenges in AI systems</li>
    </ul>
  </div>
       <div class="center-align">
            {% for ed in accepting_editions %}
            <a class="waves-effect waves-light btn-large center-align"
                href="/submission" target="_blank">
                Submit to EMC<sup>2</sup> ({{ ed.colocated_short}}) <i class="material-icons right">send</i>
            </a>

            {% if ed.has_emcc_submission %}
            <a class="waves-effect waves-light btn-large center-align"
                href="/emcc" target="_blank">
                Submit to EMC<sup>2</sup> ({{ ed.colocated_short}}) Model Compression Challenge
                <i class="material-icons right">cloud_upload</i>
            </a>
            {% endif %}
            {% endfor %}
        </div>
</div>
