  <footer class="page-footer blue-grey darken-4">
    <div class="footer-copyright">
      <div class="container">
        <small>Copyright &copy; 2018 - {{ 'now' | date: "%Y" }} EMC2. Template built with <a href="http://materializecss.com" target="_blank">Materialize</a>. Top banner image credits: <a href="https://commons.wikimedia.org/wiki/File:Las_Vegas_Skyline_Graphic.jpg">Familydestinationsguide.com Images</a>, <a href="https://creativecommons.org/licenses/by/2.0">CC BY 2.0</a>, via Wikimedia Commons</small>
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.sidenav').sidenav();
      $('.tabs').tabs();
      $(".dropdown-trigger").dropdown({ hover: true, constrainWidth: false });
    });
  </script>
</body>
</html>
