  <footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
      Template built with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>.
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.sidenav').sidenav();
      $('.tabs').tabs();
    });
  </script>
</body>
</html>
