<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>EMC^2: {{ site.title }}</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Source+Sans+Pro" />
  <link rel="stylesheet" href="assets/css/materialize.min.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="assets/css/edition.css" />
  
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:url" content="https://www.emc2-workshop.com{{ page.url }}" />
  <meta property="og:type" content="website" />
  {% if page.layout == "edition-page" %}
  <meta property="og:image"
        content="https://www.emc2-workshop.com/assets/images/editions/{{ page.slug }}.jpg" />
  {% else %}
  <meta property="og:image" content="https://www.emc2-workshop.com/assets/images/wordcloud.svg" />
  {% endif %}

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113122174-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113122174-1');
  </script>
</head>

<body>
  <header>
    <nav class="blue-grey darken-4" role="navigation">
      <div class="nav-wrapper container">

        <a id="logo-container" href="/" class="brand-logo">
          <!--<img src="assets/images/logo-small.png" />-->
          EMC<sup>2</sup>
        </a>

        {% include nav.html %}
        {% include nav-mobile.html %}

      </div>
    </nav>
  </header>
