{% assign past_editions = site.editions|where: "is_upcoming",false|reverse %}
{% if include.limit %}
    {% assign _limit=include.limit %}
{% else %}
    {% assign _limit=1024 %}
{% endif %}
<ul class="collection">
    {% for ed in past_editions limit:_limit %}
      <li class="collection-item">
        {% assign edition_number = ed.title|split:" "|first %}
	  	{% if ed.is_online == False %}
        <a href="{{ ed.url }}">{% include ordinal.html number=edition_number %} Edition</a>
        {% if ed.colocated_self == False %}
          co-located with
          <a href="{{ ed.colocated_url }}" target="_blank">{{ ed.colocated_short }}</a>
        {% endif %}
        in {{ ed.event_location }}
	  	{% else %}
        <a href="{{ ed.url }}">{% include ordinal.html number=edition_number %} Edition</a>
        {% if ed.colocated_self == False %}
          co-located with
          <a href="{{ ed.colocated_url }}" target="_blank">{{ ed.colocated_short }}</a>
        {% endif %} in {{ ed.event_location }}
		{% endif %}
        <span style="float: right;">{{ ed.event_date|date: "%B %d, %Y"}}</span> 
      </li>
    {% endfor %}
</ul>
