<div class="row">
  <div class="col s12">
    <h3 class="header"><i class="material-icons">local_bar</i> EMC2 Social Hour</h3>
    <p class="secondary-text" style="margin-top: -0.5em;">Sponsored by <a href="https://www.d-matrix.ai" target="_blank">d-Matrix</a></p>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <p>
      Join us after the workshop for an informal social hour! This is a great opportunity to connect with fellow researchers, speakers, and organizers in a relaxed setting.
    </p>
    <p>
      Venue and time details will be provided soon.
    </p>
  </div>
</div>
