<ul class="browser-default">
    <li>Papers can describe an early-stage research project, advocate an opinion about machine learning and
        cognitive computing, reflect on trends in the community, or present anything interesting and worth
        exploring as a direction.</li>
    <li>Papers <em>MUST</em> be submitted in printable PDF format.</li>
    <li>Papers <em>MUST</em> use the formatting guidelines for SIGPLAN conferences.</li>
    <li>Papers <em>MUST NOT</em> exceed 5 pages including references.</li>
    <li>Text must be in no smaller than 10pt font size.</li>
    <li>Review is single-blind, so please include authors’ names and affiliations on the submitted PDF.</li>
    <li>All accepted papers will be posted to workshop website for download.</li>
    <li>Accepted papers will be presented in short talk sessions at the workshop.</li>
    <li>Authors are encouraged to provide artifacts to be included with their final papers.</li>
</ul>