.program-tab-container {
    width: 100%;
    padding: 1em;
}

.program-container {
    width: 100%;
    padding: 2em;
}

.program-summary {
    width: 100%;
    padding: 2em;
}

.program-container>ul>li>a>i {
    vertical-align: middle;
}

@media screen and (min-width: 768px) {
    .program-tab-container {
        max-width: 1440px;
        padding: 0em;
        margin: auto;
    }
    .program-container {
        max-width: 1440px;
        padding: 3em;
        margin: auto;
    }
    .program-summary {
        max-width: 1440px;
        margin: auto;
    }
}


/* Header Grid */

.ed-grid-container-header {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-template-areas: "header-title" "header-sub-title" "header-meta-left" "header-meta-right" "header-note";
    color: #fff;
    position: relative;
}

.ed-grid-container-header::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.6) 100%);
    z-index: 0;
}

.ed-grid-container-header > * {
    position: relative;
    z-index: 1;
}


/* Header Meta Content Grid */

.ed-grid-container-header-meta {
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-template-areas: "header-meta-left" "header-meta-right" "header-note";
    margin-top: 1em;
}


/* Program Item Content Grid */

.ed-grid-container-program-item {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    grid-template-areas: "program-item-time program-item-type" "program-item-avatar program-item-avatar" "program-item-content program-item-content";
    margin-bottom: 2em;
    padding: 1.5em;
    border-bottom: #bdbdbd 1px solid;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.ed-grid-container-program-item:hover {
    background-color: rgba(33, 150, 243, 0.04);
}

.ed-grid-container-program-item:last-child {
    border-bottom: none;
}


/* Program Summary Grid */

.ed-grid-program-summary {
    width: 100%;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-template-areas: "program-summary-item-time program-summary-item-title";
    margin-left: auto;
}

.ed-grid-program-summary>div {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

@media screen and (min-width: 768px) {
    .ed-grid-container-header {
        padding-left: 15%;
        padding-right: 15%;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        grid-template-areas: "header-title" "header-sub-title";
        min-height: 350px;
    }
    .ed-grid-container-header-meta {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 1em;
        padding-bottom: 1em;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-auto-flow: column;
        grid-template-areas: "header-meta-left header-meta-right" "header-note header-note";
    }
    .ed-grid-container-program-item {
        grid-template-columns: 200px auto;
        grid-template-rows: auto auto 1fr;
        grid-auto-flow: column;
        grid-column-gap: 2em;
        grid-template-areas: "program-item-time program-item-content" "program-item-type program-item-content" "program-item-avatar program-item-content";
    }
}

.ed-grid-item-header-title {
    grid-area: header-title;
    text-align: center;
    padding: 2em;
}

.ed-grid-item-header-sub-title {
    grid-area: header-sub-title;
    text-align: center;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ed-grid-item-header-meta-left {
    grid-area: header-meta-left;
    text-align: center;
}

.ed-grid-item-header-meta-right {
    grid-area: header-meta-right;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .ed-grid-item-header-meta-left {
        grid-area: header-meta-left;
        text-align: left;
    }
    .ed-grid-item-header-meta-right {
        grid-area: header-meta-right;
        text-align: right;
    }
}

.ed-grid-item-header-note {
    grid-area: header-note;
    text-align: center;
}

.ed-grid-item-program-item-time {
    grid-area: program-item-time;
    margin-bottom: 1em;
}

.ed-grid-item-program-item-time * {
    margin: 0;
}

.ed-grid-item-program-item-type {
    grid-area: program-item-type;
    margin-bottom: 1em;
    text-align: right;
}

.ed-grid-item-program-item-type * {
    margin: 0;
}

.ed-grid-item-program-item-avatar {
    grid-area: program-item-avatar;
}

.ed-grid-item-program-item-avatar>img.avatar-image {
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 0;
}

.ed-grid-item-program-item-content {
    grid-area: program-item-content;
}

.ed-grid-item-program-item-content h1,
.ed-grid-item-program-item-content h2,
.ed-grid-item-program-item-content h3,
.ed-grid-item-program-item-content h4,
.ed-grid-item-program-item-content h5,
.ed-grid-item-program-item-content h6 {
    margin: 0;
    line-height: 1.125em;
}

.ed-grid-item-program-item-content ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px
}

.ed-grid-item-program-item-content ul>li {
    display: list-item;
    list-style-type: disc;
}

.ed-grid-item-program-item-content p {
    line-height: 160%;
    font-size: 0.85em;
}

@media screen and (min-width: 768px) {
    .ed-grid-item-program-item-time {
        text-align: right;
        margin-bottom: 0;
    }
    .ed-grid-item-program-item-time * {
        margin-top: 0.125em;
    }
    .ed-grid-item-program-item-type {
        text-align: right;
        margin-bottom: 0;
    }
    .ed-grid-item-program-item-avatar {
        text-align: right;
    }
    .ed-grid-item-program-item-avatar>img.avatar-image {
        float: right;
        margin-top: 1.5em;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        width: 130px;
        height: 130px;
    }
    .ed-grid-item-program-item-content p {
        line-height: 160%;
        font-size: 1.0em;
    }
}

.ed-grid-program-summary-item-time {
    grid-area: program-summary-item-time;
}

.ed-grid-program-summary-item-title {
    grid-area: program-summary-item-title;
}

/* Sponsor Logo Grid */
.sponsors-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1em 0;
}

.sponsors-grid a {
    display: inline-block;
}

.sponsors-grid img {
    max-height: 60px;
    width: auto;
    filter: grayscale(30%);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.sponsors-grid img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}