{% include header.html %}

{% case page.event_session %}
    {% when 'morning' %}
        {% assign event_session_header = "Half Day (Morning Session)" %}
    {% when 'afternoon' %}
        {% assign event_session_header = "Half Day (Afternoon Session)" %}
    {% when 'full' %}
        {% assign event_session_header = "Full Day" %}
    {% else %}
        {% assign event_session_header = "" %}
{% endcase %}

{% assign program = site.programs|where: "edition",page.edition|sort:"time_end" %}
{% assign program_size = program|size %}
{% assign paper_session_counter = 0 %}
{% assign talk_class_header = "" %}

<main>
    <!-- Header Content -->
    <div class="ed-grid-container-header z-depth-2"
         style="background-image: url(assets/images/editions/{{ page.slug }}.jpg); background-size: cover; background-position: center;">
        <div class="ed-grid-item-header-title">
            {% assign edition_number = page.title|split:" "|first %}
            <h1>The {% include ordinal.html number=edition_number %} {{ site.title }}</h1>
        </div>
        <div class="ed-grid-item-header-sub-title">
            <h2>Co-located with the {{ page.colocated_long }} <a href="{{ page.colocated_url }}"
                target="_blank"><span style="white-space: nowrap;">{{ page.colocated_short }}</span></a></h2>
        </div>
    </div>

    <!-- Meta Content -->
    <div class="ed-grid-container-header-meta">
        <div class="ed-grid-item-header-meta-left">
            <h5 class="dark-primary" style="margin: 0;">{{ page.event_date|date: "%A, %B %d, %Y" }}</h5>
            <h5 class="primary-text" style="margin: 0;">{{ page.event_location }}</h5>
        </div>
        <div class="ed-grid-item-header-meta-right">
            <h5 class="dark-primary" style="margin: 0;">Room: {{ page.event_room }}</h5>
            <h5 class="primary-text" style="margin: 0;">{{ event_session_header }}</h5>
        </div>
        <div class="ed-grid-item-header-note">
            {{ page.content }}
        </div>
    </div>

    <!-- Program -->
    <div class="program-container" style="">
        {% if program_size == 0 %}
        {% include cfp.html %}
        {% endif %}
        
        {% for p in program %}
        <div class="ed-grid-container-program-item" id="{{ p.id }}">
            {% case p.type %}
                {% when 'keynote' %}
                    {% assign talk_class_header = "Keynote" %}
                {% when 'invited_talk' %}
                    {% assign talk_class_header = "Invited Talk" %}
                {% when 'paper_session' %}
                    {% assign paper_session_counter = paper_session_counter|plus:1 %}
                    {% assign talk_class_header = "Paper Session #"|append:paper_session_counter %}
                {% when 'welcome' %}
                    {% assign talk_class_header = "Welcome" %}
                {% when 'close' %}
                    {% assign talk_class_header = "Close" %}
                {% when 'break' %}
                    {% assign talk_class_header = "Break" %}
                {% when 'lunch' %}
                    {% assign talk_class_header = "Lunch Break" %}
                {% else %}
                    {% assign talk_class_header = "" %}
            {% endcase %}

            <div class="ed-grid-item-program-item-time">
                <h5 class="time primary-text">
                    <strong>{{ p.time_start|date: "%H:%M" }} - {{ p.time_end|date: "%H:%M" }}</strong>
                </h5>
            </div>
            <div class="ed-grid-item-program-item-type">
                <h5 class="time primary-text">
                    {{ talk_class_header }}
                </h5>
            </div>
            <div class="ed-grid-item-program-item-avatar">
                {% if p.type == "keynote" or p.type == "invited_talk" %}
                    {% if p.speaker.avatar %}
                        <img src="assets/images/speakers/{{ p.edition }}/{{ p.speaker.avatar }}"
                        class="z-depth-1 valign-wrapper avatar-image" />
                    {% endif %}
                {% endif %}
            </div>
            <div class="ed-grid-item-program-item-content">
                {% if p.type == "welcome" or p.type == "break" or p.type == "lunch" or p.type == "close" %}
                    <h3 class="dark-primary">{{ p.title }}</h3>
                {% elsif p.type == "keynote" or p.type == "invited_talk" %}
                    {% if p.presentation %}
                    <a href="assets/docs/{{ p.edition }}/{{ p.presentation }}">
                        <span class="new badge blue" data-badge-caption="">Presentation</span>
                    </a>
                    {% endif %}
                    <h3 class="dark-primary">{{ p.title }}</h3>
                    <h4 class="light-primary">
                        {% if p.speaker.url %}
                        <a href="{{ p.speaker.url }}" target="_blank">
                        {% endif %}
                            {{ p.speaker.name }}, {{ p.speaker.affiliation }}
                        {% if p.speaker.url %}
                            <i class="material-icons" style="vertical-align: middle;">link</i>
                        </a>
                        {% endif %}
                    </h4>
                    {{ p.content | markdownify }}
                {% elsif p.type == "paper_session" %}
                    {% if p.papers.size == 0 %}
                        <p>Under review.</p>
                    {% endif %}
                    {% for paper in p.papers %}
                        {% if paper.paper %}
                        <a href="assets/docs/{{ p.edition }}/{{ paper.paper }}">
                            <span class="new badge blue" data-badge-caption="">Paper</span>
                        </a>
                        {% endif %}
                        {% if paper.presentation %}
                        <a href="assets/docs/{{ p.edition }}/{{ paper.presentation }}">
                            <span class="new badge blue" data-badge-caption="">Presentation</span>
                        </a>
                        {% endif %} 
                        <h4 class="dark-primary">{{ paper.title }}</h4>
                        <h5 class="secondary-text">{{ paper.authors }}</h5>
                        <h6 class="secondary-text">{{ paper.affiliation }}</h6>
                        <br/>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% include footer.html %}
