{% include header.html %}

{% case page.event_session %}
    {% when 'morning' %}
        {% assign event_session_header = "Half Day (Morning Session)" %}
    {% when 'afternoon' %}
        {% assign event_session_header = "Half Day (Afternoon Session)" %}
    {% when 'full' %}
        {% assign event_session_header = "Full Day" %}
    {% else %}
        {% assign event_session_header = "" %}
{% endcase %}

{% assign program = site.programs|where: "edition",page.edition|group_by:"order"|sort:"name" %}
{% assign program_size = program|size %}
{% assign paper_session_counter = 0 %}
{% assign lightning_session_counter = 0 %}
{% assign talk_class_header = "" %}

<main>
    <!-- Header Content -->
    <div class="ed-grid-container-header z-depth-2"
         style="background-image: url(assets/images/editions/{{ page.slug }}.jpg); background-size: cover; background-position: center;">
        <div class="ed-grid-item-header-title">
            {% assign edition_number = page.title|split:" "|first %}
            <h1>The {% include ordinal.html number=edition_number %} {{ site.title }}</h1>
        </div>
        <div class="ed-grid-item-header-sub-title">
			{% if page.is_online == False %}
            <h2>Co-located with the {{ page.colocated_long }} <a href="{{ page.colocated_url }}"
                target="_blank"><span style="white-space: nowrap;">{{ page.colocated_short }}</span></a></h2>
			{% else %}
            <h2>{{ page.colocated_long }} <a href="{{ page.colocated_url }}"
                target="_blank"><span style="white-space: nowrap;">{{ page.colocated_short }}</span></a></h2>
			{% endif %}
        </div>
    </div>

    <!-- Meta Content -->
    <div class="ed-grid-container-header-meta">
        <div class="ed-grid-item-header-meta-left">
            <h5 class="dark-primary" style="margin: 0;">{{ page.event_date|date: "%A, %B %d, %Y" }}</h5>
            <h5 class="primary-text" style="margin: 0;">{{ page.event_location }}</h5>
        </div>
        <div class="ed-grid-item-header-meta-right">
            <h5 class="dark-primary" style="margin: 0;">Room: {{ page.event_room }}</h5>
<!--	    <h5 class="dark-primary" style="margin: 0;"><a href="{{ page.webinar_link }}"
		    target="_blank"><span style="white-space: nowrap;">Click here for Online Webinar Registration</span></a></h5>
-->
            <h5 class="primary-text" style="margin: 0;">{{ event_session_header }}</h5>
        </div>
        <div class="ed-grid-item-header-note">
                
            {% if page.is_accepting_submission %}
                {% if page.submission_acceptance_extended %}
                <blockquote class="z-depth-1" style="text-align: left;">
                    <p style="padding: 1rem;">
                        <strong>Acceptance Notification Date Extended:</strong> The notification date for papers and posters has been extended to {{ page.submission_acceptance_extended|date: "%B %d, %Y" }}.
                    </p>
                </blockquote>
                {% elsif page.submission_deadline_extended %}
                <blockquote class="z-depth-1" style="text-align: left;">
                    <p style="padding: 1rem;">
                        <strong>Submission Deadline Extended:</strong> The paper submission deadline has been extended to {{ page.submission_deadline_extended|date: "%B %d, %Y" }}.
                    </p>
                </blockquote>
                {% endif %}
            {% endif %}

            {% if page.is_registering %}
		<blockquote class="z-depth-1" style="text-align: left;">
		    <!--p style="padding: 1rem;">
		        <strong>Workshop Registration:</strong> Click <a href="/registration">here</a> to register.
		    </p-->
    	<!--

            <p style="padding: 1rem;">
                <strong><a href="/virtual-21">How To Attend Virtual EMC<sup>2</sup> 2021</a>:</strong> All sessions
                will be streamed live on <strong><a href="https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.youtube.com%2Fchannel%2FUCTwsyUtTOJg-vADmOmbczhw&data=04%7C01%7Ckdatta%40nvidia.com%7C735e3f66939e4c0b613e08d9697f50f9%7C43083d15727340c1b7db39efd9ccc17a%7C0%7C0%7C637656817848293984%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=aFTXxF7Bp5ZiI5zzYvvqJEaeyjlno6dA%2FN7xdmK076U%3D&reserved=0">YouTube</a></strong>. Register <strong><a href="https://www.emc2-ai.org/registration">here</a></strong>,
                and <strong><a href="https://bit.ly/emc2_7thEdition">MS Teams</a></strong>
            </p>
	-->
		</blockquote>
            {% endif %}

            {% if page.is_upcoming %}
            {% assign guideline = site.guidelines|where: "edition",page.edition|first %}
            {% if guideline %}
            <blockquote class="z-depth-1" style="text-align: left;">
                <p style="padding: 1rem;">
                    <strong>Notice to Authors:</strong> Guidelines for oral and poster presentations are available <a href="{{ guideline.permalink }}">here</a>.
                </p>
            </blockquote>
            {% endif %}
            {% endif %}

            {{ page.content }}
        </div>
    </div>

    <!-- Program -->
    <div class="program-tab-container">
      <ul class="tabs">
        <li class="tab col s3"><a href="#tab_cfp"><i class="material-icons">chat</i> CFP</a></li>
          <li class="tab col s3">
          {% if program_size > 0 %}
            <a class="active" href="#tab_program"><i class="material-icons">description</i>  Program</a></li>
          {% else %}
            <a href="#tab_program"><i class="material-icons">description</i>  Program</a>
          {% endif %}
          </li>
      </ul>
    </div>

    <div id="tab_cfp" class="program-container">
        {% include cfp.html %}
    </div>

    <div id="tab_program" class="program-container">
        {% for p_group in program %}
        {% assign p_group_items_sorted = p_group.items|sort:"time_end" %}
        {% for p in p_group_items_sorted %}
        {% if p.hidden %}
        {% else %}
        <div class="ed-grid-container-program-item" id="{{ p.id }}">
            {% case p.type %}
                {% when 'grand_keynote' %}
                    {% assign talk_class_header = "Grand Keynote" %}
                {% when 'keynote' %}
                    {% assign talk_class_header = "Keynote" %}
                {% when 'invited_talk' %}
                    {% assign talk_class_header = "Invited Talk" %}
                {% when 'sponsored_talk' %}
                    {% assign talk_class_header = "Sponsored Talk" %}
                {% when 'paper_session' %}
                    {% assign paper_session_counter = paper_session_counter|plus:1 %}
                    {% assign talk_class_header = "Paper Session #"|append:paper_session_counter %}
                {% when 'lightning_session' %}
                    {% assign lightning_session_counter = lightning_session_counter|plus:1 %}
                    {% assign talk_class_header = "Lightning Session #"|append:lightning_session_counter %}		    
                {% when 'poster_session' %}
                    {% assign poster_session_counter = poster_session_counter|plus:1 %}
                    {% assign talk_class_header = "Poster Session #"|append:poster_session_counter %}
                {% when 'panel' %}
                    {% assign talk_class_header = "Panel" %}
                {% when 'announce' %}
                    {% assign talk_class_header = "Announcements" %}
                {% when 'welcome' %}
                    {% assign talk_class_header = "Welcome" %}
		{% when 'session' %}
                    {% assign talk_class_header = "Session" %}
                {% when 'close' %}
                    {% assign talk_class_header = "Close" %}
                {% when 'break' %}
                    {% assign talk_class_header = "Break" %}
                {% when 'lunch' %}
                    {% assign talk_class_header = "Lunch Break" %}
                {% else %}
                    {% assign talk_class_header = "" %}
            {% endcase %}

            <div class="ed-grid-item-program-item-time">
                <h5 class="time primary-text">
                    {% if p.time_start %}
                        <strong>{{ p.time_start|date: "%H:%M" }} - {{ p.time_end|date: "%H:%M" }}</strong>
                    {% endif %}
                </h5>
            </div>
            <div class="ed-grid-item-program-item-type">
                <h5 class="time primary-text">
                    {{ talk_class_header }}
                </h5>
            </div>
            <div class="ed-grid-item-program-item-avatar">
                {% if  p.type == "grand_keynote" or p.type == "keynote" or p.type == "invited_talk" or p.type == "sponsored_talk" %}
                    {% if p.speaker.avatar %}
                        <img src="assets/images/speakers/{{ p.edition }}/{{ p.speaker.avatar }}"
                        class="z-depth-1 valign-wrapper avatar-image" />
                    {% endif %}
                {% endif %}
            </div>
            <div class="ed-grid-item-program-item-content">
                {% if p.type == "break" or p.type == "lunch" %}
                    <h3 class="dark-primary">{{ p.title }}</h3>
                {% elsif p.type == "grand_keynote" or p.type == "keynote" or p.type == "invited_talk" or p.type == "sponsored_talk" %}
                    {% if p.presentation %}
                    <a href="assets/docs/{{ p.edition }}/{{ p.presentation }}">
                        <span class="new badge blue" data-badge-caption="">Presentation</span>
                    </a>
                    {% endif %}
                    {% if p.title and p.title != "TBD" %}
                    <h3 class="dark-primary">{{ p.title }}</h3>
                    {% endif %}
                    <h4 class="light-primary">
                        {% if p.speaker.url %}
                        <a href="{{ p.speaker.url }}" target="_blank">
                        {% endif %}
                            {{ p.speaker.name }}, {{ p.speaker.affiliation }}
                        {% if p.speaker.url %}
                            <i class="material-icons" style="vertical-align: middle;">link</i>
                        </a>
                        {% endif %}
                    </h4>
                    {{ p.content | markdownify }}
                {% elsif p.type == "paper_session" or p.type == "poster_session" or p.type == "lightning_session"%}
                    {% if p.papers.size == 0 %}
                        <p>Under review.</p>
                    {% endif %}
                    {% for paper in p.papers %}
                        {% if paper.paper %}
                        <a href="assets/docs/{{ p.edition }}/{{ paper.paper }}">
                            <span class="new badge blue" data-badge-caption="">Paper</span>
                        </a>
                        {% endif %}
                        {% if paper.presentation %}
                        <a href="assets/docs/{{ p.edition }}/{{ paper.presentation }}">
                            <span class="new badge blue" data-badge-caption="">Presentation</span>
                        </a>
                        {% endif %}
                        {% if paper.poster %}
                        <a href="assets/docs/{{ p.edition }}/{{ paper.poster }}">
                            <span class="new badge blue" data-badge-caption="">Poster</span>
                        </a>
                        {% endif %} 
                        <h4 class="dark-primary">{{ paper.title }}</h4>
                        <h5 class="secondary-text">{{ paper.authors }}</h5>
                        <h6 class="secondary-text">{{ paper.affiliation }}</h6>
                        <br/>
                    {% endfor %}
                {% elsif p.type == "panel" %}
                    <h3 class="dark-primary">{{ p.title }}</h3>
                    {{ p.content | markdownify }}
                    <h4 class="dark-primary">Moderator: {{ p.moderator.name }}</h4>
                    {% if p.speakers.size == 0 %}
                        <p>Under review.</p>
                    {% endif %}
                    <p>
                        {% for panelist in p.panelists %}
                            <h4 class="dark-primary">{{ panelist.name }}, {{panelist.affiliation}}</h4>
                            {% if p.bio %}
                                {{ p.bio }}
                            {% endif %}
                        {% endfor %}
                    </p>

                {% elsif p.type == "announce" %}
                    <h3 class="dark-primary">{{ p.title }}</h3>
                {% elsif p.type == "welcome" or p.type == "close" or p.type == "session" %}
                    <h3 class="dark-primary">{{ p.title }}</h3>
                    {% if p.speaker %}
                    <h4 class="light-primary">
                        {% if p.speaker.url %}
                        <a href="{{ p.speaker.url }}" target="_blank">
                        {% endif %}
                            {{ p.speaker.name }}, {{ p.speaker.affiliation }}
                        {% if p.speaker.url %}
                            <i class="material-icons" style="vertical-align: middle;">link</i>
                        </a>
                        {% endif %}
                    </h4>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>

    <!-- Sponsors -->
    {% if page.sponsors %}
    <div class="program-container">
        <h3 class="header">Workshop Sponsors</h3>
        {% for s in page.sponsors %}
            <a href="{{ s.url }}" target="_blank">
                <img src="assets/images/sponsors/{{ s.logo }}" alt="{{ s.name }}" />
            </a>
        {% endfor %}
    </div>
    {% endif %}
</main>

{% include footer.html %}
